div > div > mdb-card > mdb-card-header > dl > dt.col-sm-1.rounded.text-center.mb-2.white-text.blue.p-1.font-weight-bolder,
div > div > mdb-card > mdb-card-header > dl > dt.col-sm-1.rounded.text-center.white-text.pink.p-1,
div > div > mdb-card > mdb-card-header > dl > dd.col-sm-4.font-weight-bold,
div > div > mdb-card > mdb-card-header > dl > dd:nth-child(5){
  font-size: 1.05rem;
}
@media all and (min-width: 768px) {
    tr  {
      td {
        vertical-align: middle !important;
      }
      span {
        &:not([class]) {
          padding: 1rem 1rem;
        }
      }
    }
  }