<!-- Footer -->
<footer class="page-footer font-small blue pt-4 ">

    <!-- Footer Links -->
    <div class="container-fluid text-center px-lg-4 text-md-left">
  
      <!-- Grid row -->
      <div class="row py-lg-5">
  
        <!-- Grid column -->
        <div class="col-md-6 mt-md-0 mt-3">
  
          <!-- Content -->
          <h5 class="text-uppercase">About Us</h5>
          <p>Our experience is defined by incomparable service, timeless retreats rich with culture, natural wonder and genuine care. Within our walls, our guests will once again experience moments of magic, among those who matter most. Please visit our Covid-19 Response page for details on safety practices and flexible booking policies!</p>
  
        </div>
        <!-- Grid column -->
  
        <hr class="clearfix w-100 d-md-none pb-3">
  
        <!-- Grid column -->
        <div class="col-md-3 mb-md-0 mb-3">
  
          <!-- Links -->
          <h5 class="text-uppercase">Explore our world</h5>
  
          <ul class="list-unstyled">
            <li>
              <a href="#!">Contact us</a>
            </li>
            <li>
              <a href="#!">Travel tips</a>
            </li>
            <li>
              <a href="#!">Gift cards</a>
            </li>
            <li>
              <a href="#!">Privacy and cookies</a>
            </li>
            <li>
              <a href="#!">Terms & Conditions</a>
            </li>
          </ul>
  
        </div>
        <!-- Grid column -->
  
        <!-- Grid column -->
        <div class="col-md-3 mb-md-0 mb-3">
  
          <!-- Links -->
          <h5 class="text-uppercase">Join our family</h5>
  
          <ul class="list-unstyled">
            <li>
              <a href="#!">Statement on Covid-19</a>
            </li>
            <li>
              <a href="#!">Travel proffesionals</a>
            </li>
            <li>
              <a href="#!">Event planners</a>
            </li>
            <li>
              <a href="#!">Careers</a>
            </li>
            <li>
              <a href="#!">media center</a>
            </li>
            <li>
              <a href="#!">Development</a>
            </li>
          </ul>
  
        </div>
        <!-- Grid column -->
  
      </div>
      <!-- Grid row -->
  
    </div>
    <!-- Footer Links -->
  
    <!-- Copyright -->
    <div class="footer-copyright text-center px-4 py-3">© 2020 Copyright | Designed by 
      <a href="https://linkedin.com/in/pskhonji"> S P Khonjelwayo</a> 
      <p>
  
        All copyright and other intellectual property rights in all logos, designs, text, images and other materials on this website are owned by 3rd parties Limited or appear with permission of the relevant owner. All rights reserved
      </p>
    </div>
    <!-- Copyright -->
  
  </footer>
  <!-- Footer -->