<header [class.h-100]="router.url == '/'">
    <!--Navbar-->
    <mdb-navbar
        SideClass="navbar navbar-expand-sm intro-fixed-nav navbar-dark scrolling-navbar fixed-top transparent z-depth-0 primary-color"
        [containerInside]="false">

        <mdb-navbar-brand>
            <a [routerLink]="[ '/' ]" routerLinkActive="active" class="navbar-brand" href="#">
                Home<span class="sr-only">(current)</span></a>
        </mdb-navbar-brand>

        <!-- Collapsible content -->
        <links>

            <!-- Links -->
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a [routerLink]="[ '/schedules' ]" routerLinkActive="active" class="nav-link waves-light" mdbWavesEffect>Schedules</a>
                </li>
            </ul>
            <!-- Links -->

            <!-- Links -->
            <ul class="navbar-nav ml-auto nav-flex-icons">

                <li class="nav-item">
                    <a class="nav-link" href="#">
                        <mdb-icon fab icon="pinterest-p"></mdb-icon>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        <mdb-icon fab icon="dribbble"></mdb-icon>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        <mdb-icon fab icon="facebook-f"></mdb-icon>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        <mdb-icon fab icon="instagram"></mdb-icon>
                    </a>
                </li>

            </ul>
            <!-- Links -->

        </links>
        <!-- Collapsible content -->

    </mdb-navbar>
    <!--/.Navbar-->
    <app-banner *ngIf="router.url == '/'"></app-banner>
    <!-- <app-landing *ngIf="router.url == ''"></app-landing> -->
</header>
<!--Main Navigation-->