<div class="container-fluid p-sm-5 mt-5">
  <h1>
    Available Train Routes
  </h1>
  <p class="px-3 lead mb-3">Contrary to what you may have heard and to what many middle-class South Africans may tell you, taking the train is a remarkably safe, civilised & enjoyable way to travel between cities in South Africa.  In fact, you'd be crazy not to consider it.  There are several completely different train services</p>
  
  <div class="container">
    <div class="container">
      <div class="list-group">
        <a [routerLink]="['/route', 'park']" class="list-group-item list-group-item-action flex-column align-items-start active">
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">Park - Rosebank</h5>
            <small>57 seconds ago</small>
          </div>
          <p class="mb-1">Johannesburg Park Station itself has security and is well-patrolled & secure.  Be very careful if you walk outside the station.  It's recommended that you either use the safe new Gautrain network to travel between Jo'burg Park Station, Sandton and Pretoria, or that you pre-book a car or taxi to pick you up at Jo'burg station when you arrive, and when leaving again, take a taxi or car to the station entrance.</p>
          <small>Rosebank to Sandton is 22 Km or 51 miles</small>
        </a>
      </div>
    </div>
  </div>
</div>