<div class="container-fluid p-sm-5 mt-5">
  <h1 class="disply-2">
    Available Train Routes
  </h1>
  <p class="px-3 lead mb-3">Contrary to what you may have heard and to what many middle-class South Africans may tell you, taking the train is a remarkably safe, civilised & enjoyable way to travel between cities in South Africa.  In fact, you'd be crazy not to consider it.  There are several completely different train services</p>
  
  <div class="container py-3">
    <div class="container">
      <div *ngFor="let schedule of schedules" class="list-group">
        <a routerLink="/route/{{schedule.id}}" class="list-group-item list-group-item-action flex-column align-items-start">
          <div class="media">
            <div class="media-body">
              <h5 class="mt-0 font-weight-bold">{{ schedule.origin }} - {{ schedule.destination }}</h5>
              <p class="pr-3">{{ schedule.news }}</p>
              <small>{{ schedule.note }}</small>    
            </div>
            <div class="view overlay rounded  mt-2 ml-2 z-depth-2 mb-4">
              <img width="320" class="img-fluid align-self-center" src="../../../assets/imgs/park-rose.png" alt="Sample image">
              <a>
                <div class="mask rgba-white-slight waves-light" mdbWavesEffect></div>
              </a>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>