    <!-- Main -->
    <div class="view intro-2">
        <div class="full-bg-img">
            <div class="mask hm-gradient rgba-purple-light flex-center">
                <div class="container text-center white-text wow fadeInUp">
                    <h2>Welcome aboard the Soul Train</h2>
                    <br>
                    <h5>Your unforgettable experience is about to begin…</h5>
                    <p>We offers dedicated safe long distance passenger train travel services in South Africa</p>
                    <br>
                    <p>Simply complete the booking form and we will reply via Email with a quotation, confirming travel dates, timetable and fares.</p>
                </div>
            </div>
        </div>
    </div>
    <!-- /.Main -->